## .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.db

## Visual Studio
.vs/
*.rsuser
[Tt]humbs.db
*.cache
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
[Dd]ebugPublic/
[Rr]eleases/
[Aa]rtifacts/
publish/

## NuGet
*.nupkg
**/[Pp]ackages/*
*.nuget.props
*.nuget.targets
project.lock.json

## Rider
.idea/
*.sln.iml
